@{
    ViewBag.Title = "Jobs List";
    Layout = null;
}
@model ASI.MGC.FS.Model.JOBIDREFERENCE
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/themes/base/jquery.ui.all.css" rel="stylesheet" />
    <link href="~/Content/jquery.jqGrid/ui.jqgrid.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <title>Jobs List</title>
</head>
<body>
    <div class="container">
        <div id="main">
            <div class="row">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <label id="lblCustCode" class="control-label col-md-4 small ">Job ID:</label>
                            <div class="col-md-8 paddingLeftRight0">
                                @Html.TextBoxFor(d => d.JOBID_JR, null, new { ID = "txtJobID", Class = "form-control" })
                                @Html.ValidationMessageFor(d => d.JOBID_JR)
                            </div>
                        </div>
                        <div class="col-md-6 form-group">
                            <label id="lblMRVNo" class="control-label col-md-4 small ">Job Description:</label>
                            <div class="col-md-8 paddingLeftRight0">
                                @Html.TextBoxFor(d => d.JOBDESCRIPTION_JR, null, new { ID = "txtJobDesc", Class = "form-control" })
                                @Html.ValidationMessageFor(d => d.JOBDESCRIPTION_JR)
                            </div>
                        </div>
                        <div id="grid" class="col-md-10">
                            <table id="tblJobsList"></table>
                            <div id="Pager"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/i18n/grid.locale-en.js"></script>
    <script src="~/Scripts/jquery.jqGrid.min.js"></script>
    <script>
        $(document).ready(function () {
            alert("I am in Jquery!");
            $("#tblJobsList").jqGrid({
                url: '/Job/getJobsList',
                datatype: "json",
                colNames: ['Job ID', 'Job Description'],
                colModel: [
                { key: true, name: 'JOBID_JR', index: 'JOBID_JR', width: 65 },
                { key: false, name: 'JOBDESCRIPTION_JR', index: 'JOBDESCRIPTION_JR', width: 150 }
                ],
                rowNum: 10,
                rowList: [10, 20, 30, 40],
                mtype: 'GET',
                gridview: true,
                shrinkToFit: true,
                autowidth: true,
                viewrecords: true,
                pager: jQuery('#Pager'),
                caption: "Job Details List",
                emptyrecords: "No Jobs to Display",
                jsonReader: {
                    root: "rows",
                    page: "page",
                    total: "total",
                    records: "records",
                    repeatitems: false
                },
                autowidth: true,
                multiselect: false
            });

            $(window).resize(function () {
                var outerwidth = $('#grid').width();
                $('#tblJobsList').setGridWidth(outerwidth);
            });
        });
    </script>
</body>
</html>
