@{
    ViewBag.Title = "Accounts Receivable";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.currPage = "Accounts Receivable";
}
<!-- start:main -->
<div class="container">
    <div id="main">
        <!-- start:breadcrumb -->
        <ol class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li class="active">@ViewBag.currPage</li>
        </ol>
        <!-- end:breadcrumb -->
        <fieldset>
            <legend>Accounts Receivable</legend>
            <div class="row">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-11">
                            <div id="grid" class="panel-body">
                                <section>
                                    <div class="row">
                                        <div class="col-md-12 form-group">
                                            <div class="col-md-12 input-group">
                                                @Html.TextBox("accountsReceivable", null, new { ID = "txtAccountsReceivable", Class = "form-control" })
                                                <span class="input-group-addon"><i class="fa fa-search"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                    <table id="tblAccountsReceivable"></table>
                                    <div id="Pager"></div>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
    </div>
</div>
@section scripts
{
    <script src="@Url.Content("~/Scripts/Custom/Finance/AccountsReceivableList.js?2500")"></script>
}
