@{
    ViewBag.Title = @ViewBag.bpNo;
    Layout = null;
}

<div class="row frameCenter">
    @*<div class="col-md-12 iframeStyling" style="overflow-x: hidden; overflow-y: no-display">
            <iframe id="iframeReport" style="overflow-x: hidden; overflow-y: hidden" width="1366" height="786" ></iframe>
        </div>*@
    <div id="frameWrap" class="frameWrap" style="display: none">
        <img id="loader" class="loader" src="/content/Images/loader.gif" alt="loading gif" />
        <iframe id="iframe" class="iframe iframeStyling" src="/Reports/BankPayment.aspx?bpNo=@ViewBag.bpNo"></iframe>
    </div>
</div>
@section scripts
{
    <script src="@Url.Content("~/Scripts/Custom/MgcReports/BankPayment.js")"></script>
}