@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12 iframeStyling" style="overflow-x:hidden; overflow-y:no-display">
        <iframe id="iframeReport" style="overflow-x:hidden; overflow-y:hidden" src="../Reports/MetarialReceiptVoucher.aspx?MRVNO=@ViewBag.mrvNo"></iframe>
    </div>
</div>
