@{
    ViewBag.Title = ViewBag.voucherNo;
    Layout = null;
}


<div class="row">
    <div class="col-md-12 iframeStyling" style="overflow-x:hidden; overflow-y:no-display">
        <iframe id="iframeReport" style="overflow-x:hidden; overflow-y:hidden" width="1366" height="786" src="/Reports/JournalVoucher.aspx"></iframe>
    </div>
</div>