@{
    ViewBag.Title = "Stock Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.currPage = "Stock Report";
}

<div class="container">
    <div id="main">
        <!-- start:breadcrumb -->
        <ol class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li class="active">@ViewBag.currPage</li>
        </ol>
        <!-- end:breadcrumb -->
        <fieldset>
            <legend>Stock Report</legend>
            <div class="row">
                <div class="container">
                    @using (Ajax.BeginForm(null, null, null, new AjaxOptions { OnSuccess = "OnSuccess", OnFailure = "OnFailure" }, new { id = "formArStatement", @class = "form-horizontal", enctype = "multipart/form-data" }))
                    {
                        <div class="row frameCenter">
                            @*<div class="col-md-12 iframeStyling" style="overflow-x: hidden; overflow-y: no-display">
                                </div>*@
                            <div id="frameWrap" class="frameWrap" style="display: none">
                                <img id="loader" class="loader" src="/content/Images/loader.gif" alt="loading gif" />
                                <iframe id="iframe" class="iframe iframeStyling" scrolling="yes"></iframe>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </fieldset>
    </div>
</div>
@section scripts
{
    <script src="@Url.Content("~/Scripts/Custom/MgcReports/StockReport.js")"></script>
}