@{
    ViewBag.Title = "Customers List";
    Layout = null;
}
@model ASI.MGC.FS.Model.AR_AP_MASTER
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/themes/base/jquery.ui.all.css" rel="stylesheet" />
    <link href="~/Content/jquery.jqGrid/ui.jqgrid.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <title>Products List</title>
</head>
<body>
    <div class="container">
        <div id="main">
            <div class="row">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <label id="lblCustCode" class="control-label col-md-4 small ">Customer Code:</label>
                            <div class="col-md-8 paddingLeftRight0">
                                @Html.TextBoxFor(d => d.ARCODE_ARM, null, new { ID = "txtARCODE", Class = "form-control" })
                                @Html.ValidationMessageFor(d => d.ARCODE_ARM)
                            </div>
                        </div>
                        <div class="col-md-6 form-group">
                            <label id="lblMRVNo" class="control-label col-md-4 small ">Customer Details:</label>
                            <div class="col-md-8 paddingLeftRight0">
                                @Html.TextBoxFor(d => d.DESCRIPTION_ARM, null, new { ID = "txtARDesc", Class = "form-control" })
                                @Html.ValidationMessageFor(d => d.DESCRIPTION_ARM)
                            </div>
                        </div>
                        <div id="grid" class="col-md-10">
                            <table id="tblCustList"></table>
                            <div id="Pager"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/i18n/grid.locale-en.js"></script>
    <script src="~/Scripts/jquery.jqGrid.min.js"></script>
    <script>
        $(document).ready(function () {
            alert("I am in Jquery!");
            $("#tblCustList").jqGrid({
                url: '/Customer/getCustList',
                datatype: "json",
                colNames: ['Customer Code', 'Customer Details'],
                colModel: [
                { key: true, name: 'ARCODE_ARM', index: 'ARCODE_ARM', width: 65 },
                { key: false, name: 'DESCRIPTION_ARM', index: 'DESCRIPTION_ARM', width: 150 }
                ],
                rowNum: 10,
                rowList: [10, 20, 30, 40],
                mtype: 'GET',
                gridview: true,
                shrinkToFit: true,
                autowidth: true,
                viewrecords: true,
                pager: jQuery('#Pager'),
                caption: "Customers List",
                emptyrecords: "No Customers to Display",
                jsonReader: {
                    root: "rows",
                    page: "page",
                    total: "total",
                    records: "records",
                    repeatitems: false
                },
                multiselect: false
            });

            $(window).resize(function () {
                var outerwidth = $('#grid').width();
                $('#tblCustList').setGridWidth(outerwidth);
            });
        });
    </script>
</body>
</html>
